<div id="wrapper">
  <div class="panel executions">
    <mat-selection-list #executionsOptions [multiple]="false">
      <div mat-subheader>Executions</div>
      <mat-list-option *ngFor="let execution of executions" [value]="execution">
        {{ execution }}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="panel actions">
    <mat-selection-list #actionsOptions [multiple]="false">
      <div mat-subheader>Actions</div>
      <mat-list-option *ngFor="let action of actions" [value]="action">
        {{ action }}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="panel output">
    <div mat-subheader>Action result</div>
    <p>
      Execution: 
      {{ executionsOptions.selectedOptions.selected[0]?.value }}
    </p>
    <p>
      Action: {{ actionsOptions.selectedOptions.selected[0]?.value }}
    </p>
    <div>
      Result status:
      <ng-container *ngIf="actionsOptions.selectedOptions.selected[0]?.value">
        <span
          *ngIf="
            actionsOptions.selectedOptions.selected[0]?.value !== actions[3]
          "
          >Success <mat-icon class="success">check_circle</mat-icon></span
        >
        <span
          *ngIf="
            actionsOptions.selectedOptions.selected[0]?.value === actions[3]
          "
          >Error <mat-icon class="error">error</mat-icon></span
        >
      </ng-container>
    </div>
    <div>
      Result output:
      <br>
      <mat-form-field class="form-field" appearance="fill">
        <textarea matInput>
        {{ getOutput(actionsOptions.selectedOptions.selected[0]?.value) }}
      </textarea
        >
      </mat-form-field>
    </div>
  </div>
</div>
