
#wrapper {
    display: flex;
    background-color: rgb(48, 48, 48);
    height: 100%;
}



.panel {
    color: white;
    min-width: 200px;
    padding: 20px;
    &.executions {
        width: 200px;
    }
    &.actions {
        width: 300px;
    }
    &.output {
        width: 600px;
    }
}

.error {
    color: red;
}

.success {
    color: green;
}

.form-field, textarea {
    width: 400px;
    height: 200px;
}